.header--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff7ed;
  padding: 34px 20px;
}

.header--logo {
  width: 150px;
}

.header--navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.header--link {
  text-decoration: none;
  color: black;
  font-family: 400;
}
